# Node.js backend
node_modules/
.env
npm-debug.log
yarn-error.log
coverage/
dist/
build/

# React frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Log files
*.log
